$background-linen: #f7ede0;
$clouds: #ecf0f1;
$github-purple:#CE93D8;
$black: #000;
// $darkSlateGrey: #454345;

%links-shared {
  text-decoration: none;

  &:link {
    color: $black;
  }
  
  &:visited {
    color: $black;
  }

}

.applicationsContainer {
  // height: 75vh;
  padding: 3.5% 0 3.5% 0;
  background-color: $background-linen;
}

.titleBox {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
}

.smallTitle {
  @extend .title;
  margin-bottom: 0;
}

.separator {
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 65px 60px 0 60px;
  width: 25%;
}

.smallSeparator {
  @extend .separator;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  margin: 65px 17px 0 17px;
  width: 25%;
}

.divider {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  width: 68.5%;
}

.imageLeft {
  height: 309px;
  width: 550px;
  margin-right: 5%;
}

.imageRight {
  height: 309px;
  width: 550px;
  margin-left: 5%;
}

.projectDescriptionBoxWePlay {
  width: 500px;
  min-width: 400px;
  h2 {
    font-size: 42px;
    margin: 0 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    margin: 0 0 0 0;
  }
}

.projectDescriptionBoxGrubhub {
  width: 500px;
  min-width: 350px;
  margin: 0 1.5% 0 3%;
  h2 {
    font-size: 42px;
    // color: $darkSlateGrey;
    margin: 0 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    // color: $darkSlateGrey;
    margin: 0 0 0 0;
  }
}

.projectDescriptionBoxNordstrom {
  width: 500px;
  min-width: 400px;
  h2 {
    font-size: 42px;
    // color: $darkSlateGrey;
    margin: 0 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    // color: $darkSlateGrey;
    margin: 0 0 0 0;
  }
}
.applicationsBox {
  margin-bottom: 75px;
}

.smallApplicationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  h2 {
    font-size: 25px;
    margin: 10px 0 15px 10px;
    text-align: center;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 15px;
    margin: 15px 0 0 0;
    text-align: center;
  }
  p {
    margin: 10px 10px;
  }
}

.codeBox {
  @extend %links-shared;
  padding: 10px 30px;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  border: 1.2px solid $black;
  &:hover {
    background-color: $github-purple;
    transition: 0.3s;
  }
}

.icon {
  margin-right: 10px;
  font-size: 14px;
}
