$background-linen: #f7ede0;
$clouds: #ecf0f1;
// $darkSlateGrey: #454345;

.applicationsContainer {
  // height: 75vh;
  padding: 3.5% 0 3.5% 0;
  background-color: $background-linen;
}

.titleBox {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px;
}

.title {
  text-align: center;
  // color: $darkSlateGrey;
  font-size: 42px;
  margin-bottom: 20px;
}

.separator {
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 65px 60px 0 60px;
  width: 25%;
}

.divider {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  width: 68.5%;
}

.imageLeft {
  height: 309px;
  width: 550px;
  margin-right: 5%;
}

.imageRight {
  height: 309px;
  width: 550px;
  margin-left: 5%;
}

.projectDescriptionBoxWePlay {
  width: 500px;
  min-width: 500px;
  h2 {
    font-size: 42px;
    // color: $darkSlateGrey;
    margin: 35px 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
  }
  p {
    font-size: 17px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;

  }
}

.projectDescriptionBoxGrubhub {
  width: 500px;
  min-width: 500px;
  margin: 0 1.5% 0 3%;
  h2 {
    font-size: 42px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
  }
  p {
    font-size: 17px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
  }
}

.projectDescriptionBoxNordstrom {
  width: 500px;
  min-width: 500px;
  h2 {
    font-size: 42px;
    // color: $darkSlateGrey;
    margin: 20px 0 0 0;
    span {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
  }
  p {
    font-size: 17px;
    // color: $darkSlateGrey;
    margin: 10px 0 0 0;
  }
}
.applicationsBox {
  margin-bottom: 75px;
}