// Colors
$white: #fff;
$background-grey: #3a373a;
$gmail-red: #d44638;

%links-shared {
  text-decoration: none;

  &:link {
    color: $white;
  }
  
  &:visited {
    color: $white;
  }

}

.mainContainer {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(52, 45, 39, 0.7), rgba(52, 45, 39, 0.7)), url(./imgs/cover-picture.jpg);
  background-size: cover;
  height: 85vh;
  overflow: auto;
}

.mainTextBox {
  padding: 200px 0 150px 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.nameText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 63px;
  color: $white;
}

.titleText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
  color: $white;
}

.separator {
  margin-top: 20px;
  margin-bottom: 60px;
  border-top: 3px solid rgba(255, 255, 255, 0.75);
  width: 25%;
}

.contactMeBox {
  @extend %links-shared;
  padding: 10px 30px;
  opacity: 0.8;
  border-radius: 6px;
  text-transform: uppercase;
  border: 1.2px solid rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: $gmail-red;
  }
}

.contactMeIcon {
  margin-right: 10px;
  font-size: 14px;
}

.iconLinkList {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  li {
    list-style: none;
    font-size: 60px;
    margin: 0 20px;

    a {
      @extend %links-shared;
    }
  }
}

.mainNav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    list-style: none;
    font-size: 20px;
    margin: 0 30px;
    margin-top: auto;
    margin-bottom: auto;

    a {
      @extend %links-shared;
    }
  }
  
}
