// Colors
$clouds: #ecf0f1;
$github-purple: #913399;
$linkedIn-blue: #0E76A8;
$resume-orange: #FF9800;
$gmail-red: #D44638;

%links-shared {
  text-decoration: none;

  &:link {
    color: $clouds;
  }
  
  &:visited {
    color: $clouds;
  }

}

.headerContainer {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(52, 45, 39, 0.7), rgba(52, 45, 39, 0.7)), url(./imgs/cover-picture.jpg);
  background-size: cover;
  height: 95vh;
}

.mainTextBox {
  padding: 10% 0 5% 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.nameText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 63px;
  color: $clouds;
}

.titleText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
  color: $clouds;
}

.separator {
  margin-top: 20px;
  margin-bottom: 60px;
  border-top: 3px solid $clouds;
  width: 25%;
}

.contactMeBox {
  @extend %links-shared;
  padding: 10px 30px;
  opacity: 0.8;
  border-radius: 6px;
  text-transform: uppercase;
  border: 1.2px solid $clouds;
  &:hover {
    background-color: $gmail-red;
    transition: 0.3s;
  }
}

.contactMeIcon {
  margin-right: 10px;
  font-size: 14px;
}

.iconLinkList {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  li {
    list-style: none;
    font-size: 60px;
    margin: 0 20px;

    a {
      @extend %links-shared;
    }
  }
}


.github {
  &:hover {
    fill: $github-purple;
    transition: 0.3s;
  }
}

.linkedIn {
  &:hover {
    fill: $linkedIn-blue;
    transition: 0.3s;
  }
}

.resume {
  &:hover {
    fill: $resume-orange;
    transition: 0.3s;
  }
}

.email {
  &:hover {
    fill: $gmail-red;
    transition: 0.3s;
  }
}

.mainNav {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 17%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    list-style: none;
    font-size: 20px;
    margin: 0 35px;

    a {
      @extend %links-shared;
      white-space: nowrap;

      &:hover {
        border-bottom: 2px solid $clouds;
        padding-bottom: 2px;
        transition: border-bottom 0.3s;
      }

    }

  }
}