// Colors
$clouds: #ecf0f1;
$hr-black: #2b292b;
$background-color: #C5CAE9;
$background-aqua: #7fb0a6;

.aboutContainer {
  padding: 3.5% 0;
  background-color: $background-color;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.smallColumn {
  @extend .column;
  margin-top: 5px;
}

.title {
  text-align: center;
  // color: $clouds;
  font-size: 42px;
  margin-bottom: 10px;
}

.separator {
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 65px 60px 0 60px;
  width: 25%;
}

.smallSeparator {
  border: 0;
  padding: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  margin: 10px 10px 0 10px;
}

.smallSeparator {
  @extend .separator;
  margin: 95px 30px 0 30px;
}

.smallHr {
  @extend .separator;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  margin: 10px auto 0 auto;
  justify-content: center;
  text-align: center;
  width: 50%
}
.firstSentence {
  // color: $clouds;
  font-size: 30px;
  min-width: 661px;
  margin: 0 9%;
  text-align: center;
}

.paragraph {
  // color: $clouds;
  font-size: 20px;
  margin: 2% 23% 0 5%;
  line-height: 1.6;
  min-width: 389.11px;
}

.smallParagraph {
  @extend .paragraph;
  min-width: 350px;
  text-align: center;
  margin: 2% 10px 0 10px;

}

.profilePic {
  height: 300px;
  width: auto;
  margin: 20px 0 50px 20%;
}

.smallProfilePic {
  @extend .profilePic;
  margin: 0 auto 10px auto;
}