// Colors
$clouds: #ecf0f1;
$hr-black: #2b292b;
$background-color: #C5CAE9;
$background-aqua: #7fb0a6;

.aboutContainer {
  padding: 3.5% 0;
  background-color: $background-color;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  text-align: center;
  // color: $clouds;
  font-size: 42px;
  margin-bottom: 10px;
}

.separator {
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 65px 60px 0 60px;
  width: 25%;
}

.firstSentence {
  // color: $clouds;
  font-size: 30px;
  min-width: 661px;
  margin: 0 9%;
  text-align: center;
}

.paragraph {
  // color: $clouds;
  font-size: 20px;
  margin: 2% 15% 4% 75px;
  line-height: 1.6;
  min-width: 378px;
}

.profilePic {
  height: 300px;
  width: auto;
  margin: 20px 0 50px 25%;

}